<app-home-nav></app-home-nav>
<div class="background-image"></div>
<form (ngSubmit)="onSubmit()" [formGroup]="form" class="update-password-form">
  <mat-card-header>
    <div class="logo-container">
      <span class="logo-text">NIQ</span>
    </div>
  </mat-card-header>

  <mat-form-field appearance="fill" [appPasswordStrength]="form.get('oldPassword')?.value">
    <mat-label><mat-icon matPrefix>lock_open</mat-icon> Old Password</mat-label>
    <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event, 'old')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword" class="visibility-toggle">
      <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('oldPassword')?.invalid && form.get('oldPassword')?.touched">
      <ng-container *ngIf="form.get('oldPassword')?.errors?.['required']">
        Old password is required
      </ng-container>
      <ng-container *ngIf="form.get('oldPassword')?.errors?.['minlength']">
        Password must be at least 8 characters long
      </ng-container>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" [appPasswordStrength]="form.get('newPassword')?.value">
    <mat-label><mat-icon matPrefix>lock</mat-icon> New Password</mat-label>
    <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event, 'new')" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword" class="visibility-toggle">
      <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
      New password is required
    </mat-error>
  </mat-form-field>
  

  <div class="button">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      <mat-icon>update</mat-icon>
      Update Password
    </button>
  </div>

  
</form>